<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="MyProject">
   <parameter name="url" value="https://erp.buffalocart.com/login/"/>
   <parameter name="browser" value="chrome"/>
   <parameter name="username" value="admin"/>
   <parameter name="password" value="123456"/>
    <classes>
        <class name="testngPkg.LoginPage"/>
        <class name="testngPkg.Projects"/>
        <class name="testngPkg.Tasks"/>
        <class name="testngPkg.Bugs"/>   
        <class name="testngPkg.ExtentReportGenerator"/>  
    </classes>
  </test>
</suite> 
